<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Climate Analysis App</title>
    <link rel="icon" type="image/x-icon" href="http://icons.iconarchive.com/icons/iynque/ios7-style/1024/Weather-icon.png" />
</head>

<body>
    <h1>Welcome to the Hawaii Climate Analysis API!</h1>
    <h2>Available API Endpoints:</h2><br />
    
    <h3>Last year's recorded precipitation:</h3>
    <a href= '/api/v1.0/precipitation'>/api/v1.0/precipitation</a><br /><br /><br /><br />
    
    <h3>Participating stations:</h3>
    <a href= '/api/v1.0/stations'>/api/v1.0/stations</a><br /><br /><br /><br />
    
    <h3>Temperature observations recorded last year for Station USC00519281:</h3>
    <a href= '/api/v1.0/tobs'>/api/v1.0/tobs</a><br /><br /><br /><br />
    
    <h3>The lowest, highest, and average tempearture since: </h3>
    /api/v1.0/YYYY-MM-DD<br /><br /><br /><br />
    
    <h3>The lowest, highest, and average tempearture between:</h3>
    /api/v1.0/YYYY-MM-DD/YYYY-MM-DD
</body>

</html>